body {
    background-color: aquamarine;
}

/* Estilos para el header */
.main-header {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el h1 dentro del header */
h1 {
    color: var(--color-blanco);
    font-family: var(--fuente-principal);
    font-size: xx-large;
    margin-top: 0px; /* Ajusta según sea necesario */
}


/*Aca comienza la seccion del menu*/
.main-menu {
    /* height: 680px; */
    width: fit-content;
    background-color: var(--color-fondo);
    position: fixed;
    top: var(--header-height);
    transition: transform 0.3s ease-in-out; /* Mantén la transición para el efecto suave */
    z-index: 1000;
}
.menu-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menu-group button {
    width: 100%;
    margin-bottom: 8px; /* Ajusta según tu preferencia para agregar espacio entre los botones */
}

/* 
.menu-group {
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-textos);
}

.menu-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-group > h2 {
    color: var(--color-textos);
    margin-bottom: 5px;
}

.menu-group > a {
    color: var(--color-textos);
    display: flex;
    text-decoration: none;
}

.menu-group > a:hover {
    background-color: #1a9e88;
    cursor: pointer;
}

.menu-group > a > span {
    margin-right: 5px;
    margin-bottom: 5px;
}

.menu-group > a > span:nth-child(2) {
    margin-top: 5px;
} */

/* ESTILOS DEL MAIN */
main {
    margin-top: var(--header-height);
    margin-left: 20px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

/*aca comienza el footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.redes-sociales {
    margin-top: 10px;
}

.redes-sociales a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.redes-sociales i {
    font-size: 24px;
}

.contenedor1{
    padding-left: 160px;
    padding-top: 10px;

}